@font-face {
  font-family: "great_wishesregular";
  src: url("../resources/fonts/great_wishes-webfont.woff2") format("woff2"),
    url("../resources/fonts/great_wishes-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background-image: none;
  background-color: white;
}

.clearfix {
  height: 100%;
}

#login-body {
  background-image: none;
  background-color: #fff9f2;
}

.login-box {
  margin: auto;
  background-color: #ffeae1;
  border: 1px solid #fcedde;
  margin-top: 100px;
  border-radius: 20px;
  -webkit-box-shadow: 2px 3px 10px -5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 3px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 3px 10px -5px rgba(0, 0, 0, 0.4);
}

.login-box .brand-area-login {
  margin: auto;
  width: 30%;
  padding-top: 100px;
}

.login-box .brand-area-login h1 {
  font-family: "great_wishesregular";
  text-align: center;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 5px rgb(0, 0, 0, 0.3);
}
.login-box .brand-area-login h4 {
  display: block;
  margin: 0;

  width: 50%;
  margin: auto;
  font-family: "Century Gothic";
  text-align: right;
  color: #777777;
  font-weight: normal;
  font-size: 0.9em;
}

.login-box .input-area-login {
  width: 20%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
}

.input-field input {
  width: 100%;
  border-style: none;
  border-radius: 10px;
  padding: 3px;
  padding-left: 10px;
  -webkit-box-shadow: 2px 3px 10px -5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 3px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 3px 10px -5px rgba(0, 0, 0, 0.4);
  outline-style: none;
  font-family: "Century Gothic";
  font-size: 0.8em;
}

.input-field input::-webkit-input-placeholder {
  font-family: "Century Gothic";
  font-size: 0.8em;
}

.input-field p {
  color: darkred;
  font-size: 0.8em;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 8px;
}

.input-field input[type="submit"] {
  width: min-content;
  text-align: center;
  font-family: "Century Gothic";
  font-size: 0.7em;
  padding: 2px 10px;
  margin-left: 80%;
  background-color: #ff7d7d;
  color: white;
}

#e_email,
#e_password {
  visibility: hidden;
}

.container {
  width: 80%;
  margin: auto;
}

.menu-side {
  float: left;
  display: block;
  width: 15%;
  background-color: #211d18;
  margin: 0;
  height: 100%;
  -webkit-box-shadow: 8px 3px 20px -5px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 8px 3px 20px -5px rgba(0, 0, 0, 0.8);
  box-shadow: 8px 3px 20px -5px rgba(0, 0, 0, 0.8);
}

.menu-side .profile-menu {
  padding: 25px 15px;
  background-color: black;
}

.menu-side .profile-menu img {
  object-fit: cover;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  float: left;
  margin: 0 20px 0 0;
}

.menu-side .profile-menu .profile-text {
  float: left;
}

.profile-menu a {
  text-decoration: none;
  color: white;
  display: block;
  font-family: "Century Gothic";
}

.profile-menu .name {
  font-size: 0.8em;
}

.profile-menu .logout {
  font-size: 0.6em;
  margin-top: 5px;
}

.content {
  float: left;
  background-color: transparent;
  height: 100%;
  width: 85%;
}

.title {
  width: 93%;
  margin: auto;
  margin-top: 30px;
  font-family: "Dubai";
  font-size: 1.2em;
}

.title h2 {
  margin-bottom: 10px;
}

.main-content {
  box-sizing: border-box;
  height: 600px;
  width: 93%;
  background-color: #fff9f2;
  margin: auto;
  border-radius: 20px;
  -webkit-box-shadow: 2px 4px 10px -5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 4px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 4px 10px -5px rgba(0, 0, 0, 0.4);
  border: 1px solid #fcedde;
  padding: 30px;
  position: relative;
}

.show-area {
  width: 100%;
}

.show-area .profile-form {
  float: left;
  width: 50%;
}

.profile-form .image-area {
  width: 130px;
  height: 160px;
  margin: auto;
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: -1px 4px 13px -5px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: -1px 4px 13px -5px rgba(0, 0, 0, 0.7);
  box-shadow: -1px 4px 13px -5px rgba(0, 0, 0, 0.7);
}

.show-area .profile-show-area {
  box-sizing: border-box;
  float: left;
  width: 50%;
  background-color: #ffeae1;
  -webkit-box-shadow: -1px 4px 13px -5px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: -1px 4px 13px -5px rgba(0, 0, 0, 0.7);
  box-shadow: -1px 4px 13px -5px rgba(0, 0, 0, 0.7);
  padding: 20px;
  font-family: "Times New Roman", Times, serif;
}

.profile-show-area hr {
  border: 1px solid black;
  margin-bottom: 20px;
}

.small-title h3 {
  margin: 0;
  font-family: "Dubai", serif;
}

.row .profile-show-label {
  float: left;
  width: 30%;
  font-weight: bold;
}

.row .profile-show-text {
  float: left;
  width: 70%;
}

.profile-show-text p {
  margin: 0;
}

.profile-show-text .img-area {
  width: 100px;
  height: 120px;
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: -1px 4px 13px -5px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: -1px 4px 13px -5px rgba(0, 0, 0, 0.7);
  box-shadow: -1px 4px 13px -5px rgba(0, 0, 0, 0.7);
}

.row {
  margin-bottom: 15px;
}

.row .profile-label {
  float: left;
  width: 20%;
  font-family: "Century Gothic";
}

.row .profile-textB {
  float: left;
  width: 45%;
  display: flex;
  justify-content: center;
}

.row .profile-file {
  float: left;
  width: 45%;
  display: flex;
  justify-content: center;
}

.profile-file input[type="file"] {
  width: 80%;
  outline-style: none;
  padding: 10px;
  margin-top: -10px;
  cursor: pointer;
}

.profile-file input[type="file"]::-webkit-file-upload-button {
  border-radius: 10px;
  background-color: white;
  border-style: none;
  -webkit-box-shadow: 0px 3px 12px -5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 3px 12px -5px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 3px 12px -5px rgba(0, 0, 0, 0.6);
  padding: 5px 10px;
  font-size: 0.9em;
  cursor: pointer;
  outline-style: none;
}
.row .profile-textB input {
  width: 80%;
  border-radius: 10px;
  border-style: none;
  -webkit-box-shadow: 0px 3px 12px -5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 3px 12px -5px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 3px 12px -5px rgba(0, 0, 0, 0.6);
  padding: 5px 10px;
  font-size: 0.7em;
  outline-style: none;
}

.row .profile-textB input::-webkit-input-placeholder {
  font-family: "Century Gothic";
}

.row .error {
  float: left;
  width: 35%;
}

.row .error p {
  font-family: "Century Gothic";
  margin: 0;
  font-size: 0.6em;
  color: #b70000;
}

.update-area {
  box-sizing: border-box;
  width: 95%;
  position: absolute;
  bottom: 30px;
}
.update-area button {
  padding: 5px;
  width: 100%;
  margin: auto;
  background-color: #ff7d7d;
  border-style: none;
  border-radius: 10px;
  color: white;
  font-family: "Century Gothic";
  font-size: 1.2em;
  -webkit-box-shadow: 0px 3px 12px -5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 3px 12px -5px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 3px 12px -5px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.admin-navbar {
}

.admin-navbar ul {
  margin-top: 100px;
  list-style-type: none;
}

.admin-navbar ul li {
  margin: 30px 0;
  text-align: left;
  padding-left: 30px;
}
.admin-navbar li a {
  color: white;
  text-decoration: none;
  font-size: 1.4em;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
